.info-card {
  background: white;
  border: 1px solid #80c7e9;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.info-card h2 {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #00647a;
}