.graph-container {
  flex: 1;
  background: white;
  border: 1px solid #80c7e9;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.graph-container h2 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #00647a;
}

.graph-buttons {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

.graph-buttons button {
  background: #b2e0ef;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  color: #004850;
}

.graph-buttons button:hover {
  background: #80c7e9;
}

.graph-box {
  flex: 1;
}