.navbar {
  height: 3.5rem;
  background: #004850;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-user {
  font-size: 0.9rem;
}