.navbar {
  height: 4rem;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-bottom: 1px solid #ddd;
}

.navbar-title {
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar-user {
  font-size: 1rem;
}