.sidebar {
  width: 12rem;
  background: #b2e0ef;
  padding: 1rem;
  border-right: 2px solid #80c7e9;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 0.8rem;
  cursor: pointer;
  font-weight: 500;
  color: #004850;
}